{% extends 'new_base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

        <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
            <!-- Slide 2 -->
            <div class="slide kenburns" style="background-image:url('{% static "handmake/banner.png" %}');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <span class="strong">{%trans "About Us" %}</span>
                        <h1>{%trans "BookHub"%}</h1>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->

        </div>
        <!--end: Inspiro Slider -->

        <!--end: Inspiro Slider -->

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="heading-text heading-section fw-bold">
                            <h2>{%trans "BookHub"%}</h2>

                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6">{%trans "BookHub"%} - {%trans "A gentle corner hidden amidst the city's hustle and bustle. We don't just sell books, we create a space where people meet inspiration. This is a haven for independent thoughts and a birthplace for warm artistry."%}<br><br>{%trans "Step into the reading room, and the essence of art naturally weaves itself into your literary experience. This is not just a temple of knowledge; it is also an exhibition space for local artists—paintings adorning the walls, sculptures scattered among the bookshelves, and unexpected art installations around the corners,all silently speaking the language of beauty. In the pauses between turning pages, a simple glance upward may lead you to an artwork that touches your heart."%}
 </div>

                            <div class="col-lg-6"> {%trans "Here, the ritual of reading is carefully nurtured. We have specially prepared handcrafted bookplates, beautifully bound special edition books, and thoughtfully designed stationery, each item carrying the warmth and intention of its maker. Once you've chosen your beloved book, consider ordering a cup of fair trade coffee or organic tea at the bar. In the midst of the fragrant atmosphere, let the words and your thoughts gradually intertwine."%} </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}