{% extends 'new_base.html' %}
{% load static %}
{% block content %}
      
      <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360" data-autoplay="5000" data-animate-in="fadeIn" data-animate-out="fadeOut" data-items="1" data-loop="true" data-autoplay="true">
            <!-- Slide 1 -->
            <div class="slide" style="background-image:url('{% static 'handmake/2.png' %}');">
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <h2 class="text-lg brand-font">發現你的下一本最愛書籍</h2>
                        <p class="lead mb-4">探索數千本跨越所有類別的書籍。從暢銷書到隱藏的寶石，找到您正在尋找的內容。</p>
                        <div class="search-box mx-auto" style="max-width: 500px;">
                            <form action="{% url 'book_list' %}" method="get" class="d-flex">
                                <input type="text" name="query" class="form-control me-2" placeholder="搜索書籍、作者、類別...">
                                <button type="submit" class="btn btn-light">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
            <!-- Slide 2 -->
            <div class="slide" style="background-image:url('{% static 'handmake/3.png' %}');">
                <div class="container">
                    <div class="slide-captions text-center">
                        <!-- Captions -->
                        <h2 class="text-lg text-dark brand-font">精選圖書<br />特價優惠</h2>
                        <p class="mb-4 text-dark ">發現我們精心挑選的書籍收藏，享受限時特價優惠。</p>
                        <a class="btn btn-dark" href="{% url 'book_list' %}">立即選購</a>
                        <a class="btn btn-dark btn-outline" href="{% url 'genre_list' %}">瀏覽類別</a>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->
        </div>
        <!--end: Inspiro Slider -->

        <!-- SUMMER SALE -->
        <section class="section-pattern p-t-60 p-b-30 text-center" style="background: url()">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 text-start">
                        <h2 class="text-medium fw-bold">ERB同學獨享！</h2>
                        <p>為答謝各位ERB學員一直以來的支持，我們特別推出 「同學限時折扣」 活動！現在報讀指定課程，即可享受書籍九折優惠！</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="countdown medium" data-countdown="2025/11/11 11:34:51" data-animate="fadeInUp"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: SUMMER SALE -->

        <!-- Featured Books -->
        <section>
            <div class="container">
                <div class="heading m-b-40">
                    <h4>精選圖書</h4>
                </div>

                <!--Product list-->
                <div class="shop">
                    <div class="row">
                        {% for book in books %}
                        <div class="col-lg-3">
                            <div class="product">
                                <div class="product-image">
                                    <a href="{% url 'book_detail' book.BookID %}">
                                        <img alt="{{ book.Title }}" src="{{ book.photo_url }}" id="book">
                                    </a>
                                    {% if forloop.counter <= 2 %}
                                    <span class="product-new">熱門</span>
                                    {% endif %}
                                    <span class="product-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </span>
                                    <div class="product-overlay">
                                        <a href="{% url 'book_detail' book.BookID %}">快速預覽</a>
                                    </div>
                                </div>

                                <div class="product-description">
                                    <div class="product-category">{{ book.GenreID.GenreName }}</div>
                                    <div class="product-title">
                                        <h3><a href="{% url 'book_detail' book.BookID %}">{{ book.Title|truncatewords:6 }}</a></h3>
                                    </div>
                                    <div class="product-price">
                                        <ins>${{ book.Price }}</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="product-reviews">
                                        <a href="#">作者: {{ book.AuthorID.full_name }}</a>
                                    </div>
                                    {% if book.is_available and user.is_authenticated %}
                                    <div class="product-actions mt-2">
                                        <a href="{% url 'add_to_cart' book.BookID %}" class="btn btn-outline btn">
                                            <i class="fas fa-cart-plus me-1"></i>加入購物車
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12 text-center py-5">
                            <i class="fas fa-book-open fa-3x text-muted mb-3"></i>
                            <h4 class="text-muted">暫無可用書籍。</h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Featured Books -->

        <!-- DELIVERY INFO -->
        <section class="background-grey p-t-40 p-b-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-gift"></i></a>
                            </div>
                            <h3>購滿$300，即享免運遞送</h3>
                            <p>當您的訂單金額超過 $60，我們將為您獻上全球免運的禮遇。</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-plane"></i></a>
                            </div>
                            <h3>全球配送服務</h3>
                            <p>我們支持以下國家及地區的配送：中國大陸、中國台灣、馬來西亞。</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-history"></i></a>
                            </div>
                            <h3>六十日退款保障</h3>
                            <p>若您覺得不夠稱心，我們在此承諾全額退還，願您從此安心徜徉。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: DELIVERY INFO -->

        <!-- Browse by Genre -->
        <section>
            <div class="container">
                <div class="heading-text heading-line text-center">
                    <h4>按類別瀏覽</h4>
                    <br/>
                </div>
                <div class="row">
                    {% for genre in genres %}
                    <div class="col-lg-2 col-md-4 col-6 mb-3">
                        <a href="{% url 'genre_books' genre.GenreID %}" class="text-decoration-none">
                            <div class="shop-category-box text-center">
                                <div class="shop-category-box-title">
                                    <h6>{{ genre.GenreName }}</h6>
                                    <small>探索更多</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- end: Browse by Genre -->

        <!-- Newsletter Section -->
        <section class="section-pattern p-t-60 p-b-60 text-center" style="background: url({% static 'images/pattern/pattern22.png' %})">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h3 class="brand-font mb-3">保持更新</h3>
                        <p class="mb-4">訂閱我們的時事通訊，第一時間了解新書發佈和獨家優惠。</p>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="輸入您的電子郵件">
                            <button class="btn btn-primary" type="button">訂閱</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Newsletter Section -->

<style>

        @media only screen and (min-width: 1000px){
            #book{
            height: 370px;
            }
        }
    </style>

{% endblock %}